@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600&family=Mulish:wght@500&display=swap');

$montserrat: 'Montserrat', sans-serif;
$mulish: 'Mulish', sans-serif;

$buttonColor: #5692e8;

$mobile: 480px;
$tablet: 768px;
